﻿<viewdata model="JustWanna.Web.Actions.Home.LoginModel" />
#Bundles.Reference("Scripts/jquery-1.7.1.js");
#Bundles.Reference("Scripts/backbone.js");
<!DOCTYPE html>
<html>
  <head>
    <title>Web App</title>
    !{Bundles.RenderStylesheets()}
  </head>
  <body>
    <h1>Login</h1>
    !{Bundles.RenderScripts()}
  </body>
</html>